<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
        title #{nombrePagina}
    body
        header.barra
            a(href='/')
                h1 UpTask - Administrador de proyectos
            a(href="#") Cerrar sesión
        
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/project/new" class="boton") New project
                        span +
                .panel.lista-proyectos
                    h2 Projects
                    if (projects)
                        ul#proyectos.proyectos
                            each project in projects 
                                li
                                    a(href=`/project/${project.url}`)= project.nombre

            block Contenido
        
