<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        header.barra
            a(href='/')
                h1 UpTask - Administrador de proyectos
            a.session(href="/user/logout/") Cerrar sesión 
                i.fas.fa-lock 
                span #{locals.user.email}
        
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/project/new" class="boton") New project
                        span +
                .panel.lista-proyectos
                    h2 Projects
                    if (projects)
                        ul#proyectos.proyectos
                            each project in projects 
                                li
                                    a(href=`/project/${project.url}`)= project.name

            block Contenido
        
        script(src="/dist/bundle.js")