<!DOCTYPE html>
html(lang="en")
    head
        include ../partials/header
    body.login
        .contenedor-formulario
            h1 Restablecer password

            // Formulario de creación
            form#formulario.caja.caja-login(method='POST')
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Password" value= password required) 
                .campo.enviar
                    input.boton(type="submit" value="Restablecer password") 